{% extends 'base.html' %}
{% load static %}

{% block title %}Статьи{% endblock %}

{% block content %}
    <div class="row w-75 mx-auto my-3">
        <div class="col-lg-8">

            {% for post in posts %}
                <div class="card mb-4">
                    <a href="#!"><img class="card-img-top" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg" alt="..." /></a>
                    <div class="card-body">
                        <div class="small text-muted">{{ post.published }}</div>
                        <h2 class="card-title">{{ post.title }}</h2>
                        <p class="card-text">{{ post.preview_content|truncatewords:40 }}</p>
                        <div class="d-flex">
                            <a class="btn btn-dark" href="{{ post.get_absolute_url }}">Читать далее</a>
                            <div class="mx-5 d-flex">
                                <div class="px-2">
                                    <img src="{% static 'assets/rating.png' %}" alt="">
                                    {{ post.rating }}
                                </div>
                                <div class="px-2">
                                    <img src="{% static 'assets/view.png' %}" alt="">
                                    {{ post.view_count }}
                                </div>
                                <div class="px-2">
                                    <img src="{% static 'assets/like.png' %}" alt="">
                                    0
                                </div>
                                <div class="px-2">
                                    <img src="{% static 'assets/comment.png' %}" alt="">
                                    {{ post.comments_count }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {%  empty %}
                <h2>Не найдено ни одного поста</h2>
            {% endfor %}
        </div>

        <div class="col-lg-4 px-4">
            {% if username == request.user.username or username is None %}
                {% include 'posts/sidebar_categories.html' %}
                {% include 'posts/sidebar_view.html' %}
            {% else %}
                {% include 'posts/users_post_list_sidebar.html' %}
            {% endif %}
        </div>
    </div>
{% endblock %}