<h3>Отображение</h3>
<div class="card mb-4">
    <div class="list-group d-flex justify-content-around">
        <a {% if category %}
                href="{% url 'blog:post_list_by_category' category.slug %}?filter=all&order={{ order }}"
           {% else %}
                href="{% url 'blog:post_list' %}?filter=all&order={{ order }}"
           {% endif %}
            class="link-dark list-group-item-action list-group-item-light p-2 px-4
                {% if filter == 'all' %}active{% endif %}">
                    Все
        </a>
        <a {% if category %}
                href="{% url 'blog:post_list_by_category' category.slug %}?filter=subscriptions&order={{ order }}"
           {% else %}
                href="{% url 'blog:post_list' %}?filter=subscriptions&order={{ order }}"
           {% endif %}
           class="link-dark list-group-item-action list-group-item-light p-2 px-4
                {% if filter == 'subscriptions' %}active{% endif %}">
                    Подписки
        </a>
    </div>
</div>
<div class="card mb-4">
    <div class="list-group d-flex justify-content-around">
        <a {% if category %}
                href="{% url 'blog:post_list_by_category' category.slug %}?filter={{ filter }}&order=rating"
           {% else %}
                href="{% url 'blog:post_list' %}?filter={{ filter }}&order=rating"
           {% endif %}
           class="link-dark list-group-item-action list-group-item-light p-2 px-4
                {% if order == 'rating' %}active{% endif %}">
                    По рейтингу
        </a>
        <a {% if category %}
                href="{% url 'blog:post_list_by_category' category.slug %}?filter={{ filter }}&order=date"
           {% else %}
                href="{% url 'blog:post_list' %}?filter={{ filter }}&order=date"
           {% endif %}
           class="link-dark list-group-item-action list-group-item-light p-2 px-4
                {% if order == 'date' %}active{% endif %}">
                    Последние
        </a>
    </div>
</div>