{% extends 'base.html' %}
{% load static %}

{% block title %}Авторы{% endblock %}

{% block content %}
    <div class="row w-75 mx-auto my-3">
        <div class="col-lg-8">
            {% for author in authors %}
            <div class="user-card mb-4">
                <div class="col-3">
                    {% if author.photo %}
                        <a href="{{ author.get_absolute_url }}">
                            <img class="img-thumbnail" src="{{ author.image.url }}" alt="">
                        </a>
                    {% else %}
                        <img class="img-thumbnail" src="{% static 'images/no-image.jpg' %}" alt="">
                    {% endif %}
                </div>
                <div class="card-body col-6 px-4">
                    <a href="{{ author.get_absolute_url }}" class="link-dark">
                        <h2 class="card-title">{{ author.username }}</h2>
                    </a>
                    <div class="small text-muted">Постов: {{ author.posts.count }}</div>
                    <p class="card-text">Рейтинг: <strong>1000000</strong></p>
                </div>
                <div class="card-body col-3"><a class="btn btn-dark" href="{{ post.get_absolute_url }}">Подписаться</a></div>
            </div>
            {% empty %}
                <h3>Не найдено ни одного автора</h3>
            {% endfor %}
        </div>

        <div class="col-lg-4">
            <div class="card mb-4">
                <div class="list-group d-flex justify-content-around">
                    <a href="{% url 'author_list' filter_by='all' order_by=order %}"
                       class="text-center link-dark list-group-item-action list-group-item-light p-2
                            {% if filter == 'all' %}active{% endif %}">
                                Все</a>
                    <a href="{% url 'author_list' filter_by='subscriptions' order_by=order %}"
                       class="text-center link-dark list-group-item-action list-group-item-light p-2
                            {% if filter == 'subscriptions' %}active{% endif %}">
                                Подписки</a>
                    <a href="{% url 'author_list' filter_by='subscribers' order_by=order %}"
                       class="text-center link-dark list-group-item-action list-group-item-light p-2
                            {% if filter == 'subscribers' %}active{% endif %}">
                                Подписчики</a>
                </div>
            </div>
            <div class="card mb-4">
                <div class="list-group d-flex justify-content-around">
                    <a href="{% url 'author_list' filter_by=filter order_by='post_count' %}"
                       class="text-center link-dark list-group-item-action list-group-item-light p-2
                        {% if order == 'post_count' %}active{% endif %}">
                            По количеству постов</a>
                    <a href="{% url 'author_list' filter_by=filter order_by='subscribers' %}"
                       class="text-center link-dark list-group-item-action list-group-item-light p-2
                        {% if order == 'subscribers' %}active{% endif %}">
                            По подписчикам</a>
                    <a href="{% url 'author_list' filter_by=filter order_by='rating' %}"
                       class="text-center link-dark list-group-item-action list-group-item-light p-2
                        {% if order == 'rating' %}active{% endif %}">
                        По рейтингу</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}